APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}

GATEWAY_ENDPOINT=http://gateway.test
GATEWAY_USER=1
GATEWAY_BEARER="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMWE4MmIwMjhhNDlkOTIxMWRmYmVkNDIwMDkyOTkyZDc5ZDQ4N2MwMzdlZjQ1YjI2YmI3MzE1YTVhNDI4NzgwNzNkZWMwMjA1ODIxYWJiYzQiLCJpYXQiOjE3MjQzNTY1MDEuMTY0MzQ3LCJuYmYiOjE3MjQzNTY1MDEuMTY0MzUyLCJleHAiOjE3NTU4OTI1MDAuODgyMjk4LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.3Jhg78STvXyHGAe_hEFIBkT_QX_Wq4SLtoUggT4moAUXReQZROQSIJHNsNnH2XI23P_IEP3kfZfqbc7hSZTezBAI-aaMoGKzFmhQzFuTUuXEwBXIVK_JAo5SVwBbgDLbRli9ICPPmPguB-_-uPOIDUJjsFJQX7X3bsj1OgNL8EWZCr2h9FUzInPoCswFquTetvf2Ptsu2EH7Zj4AoyF7VRjoStwaYkWtnxoA3NrdrGwQWjWUhncEvjQqVpxD6VnBxj7lncSAYR0Vs1XOD7djnU3dqdY66FXMb7Ew4rv69xGSviBxRqqu3lajXJM6vgNkQdwrD9CBU2xEVGoPjetKHeIw7EtseMUH0xOTP1MuQcNAeJOHV6k9VhY6Pr68hapnNgjTbY_5OjlSt7PsZ4kwUns1OfibNsT_ofn5nCxBly79aQ1ki23O7Qv3G8DTceibz94Ih75T6MPeqVv3GqAbajCNom7AHNAQ_-m_b2ULIK9x_URuLtuAzymuRrklBUaH5yoiwvV6i5zgUWiYluJNhrvFOJFevw_3VfFUjLY3Vjg3zcW2eFox9njtGjYgVkuY5M4oQ0OxkFlKZ5UXczQBrlOalpa42u5UNF0o03k-PC783bNgcfZ59wQ8eV2nxjhVlthZiSYT0UeMX3-F3r8A1J0-lVG9nSzZGLePz5k4oXE"
